<h1 class="text-center mt-5">Gestión de Productos</h1>

<div class="container mt-5">
    <table class="table mt-5">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Vendedor</th>
                <th>Fecha Publicado</th>
                <th>Días Publicado</th>
                <th>Acciones</th>
            </tr>  
            <tbody>
            <tr *ngFor="let pro of allProductos">
                <td class="id">{{pro.Id}}</td>
                <td [routerLink]="['/producto/detalle', pro.Id]">{{pro.nombre}}</td>
                <td [routerLink]="['/vendedor', pro.personaId]">{{pro.Usuario}}</td>
                <td >{{ pro.creacion | date: 'shortDate' }}</td>
                <td >{{pro.actualizacion}}</td>
                <td><i class="eliminar fa-solid fa-trash-can" (click)="inhabilitarProducto(pro.Id)"></i></td>
            </tr> 
            </tbody>
    </table>
</div>
