<h1 class="text-center mt-5">Gestión de Productos</h1>

<div class="container mt-5">
    <table class="table mt-5" >
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Vendedor</th>
                <th>Fecha Publicado</th>
                <th>Días Publicado</th>
                <th>Acciones</th>
            </tr>  
            <tbody>
            <tr>
                <td class="id">1</td>
                <td >Nombre Producto</td>
                <td >Nombre Vendedor</td>
                <td >20/02/2022</td>
                <td >65</td>
                <td><i class="eliminar fa-solid fa-trash-can"></i></td>
            </tr> 
            </tbody>
    </table>
</div>
