<h1 class="text-center">Crear Cuenta</h1>
<br>
<br>
<form class="row g-3"   >
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="nombre" [formControl] = "nombre" value="" required>
        </div>
        <div class="col-md-2">
            <label for="apellido" class="col-sm-1 col-form-label">Apellido</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="apellido"  [formControl] = "apellido" value="" required>
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="correo" class="form-label">Correo</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" id="correo" aria-describedby="correo" required>
                <span class="input-group-text" id="correo">@</span>
            </div>
        </div>
        <div class="col-md-2">
            <label for="password" class="col-sm-1 col-form-label">Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" id="password" value="" required>
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="ciudad" class="form-label">Municipio</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="ciudad" required>
        </div>
        <div class="col-md-2">
            <label for="departamento" class="form-label">Departamento</label>
        </div>
        <div class="col-md-4">
            <select class="form-select" id="departamento" required>
                <option selected disabled value="">Elegir...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="telefono" class="form-label">Telefono</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="telefono" required>
        </div>

        <div class="col-md-2">
            <label for="direccion" class="form-label">Dirección</label>
        </div>

        <div class="col-md-4">
            <textarea class="form-control" id="direccion" rows="2"></textarea>
        </div>
    </div>
    
    <div class="col-12 mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="termino" required>
            <label class="form-check-label" for="termino">
                Acepto los términos y condiciones
            </label>
        </div>
    </div>
    <div class="col-12 position-relative mb-4">
        <button class="btn btn-dark position-absolute top-100 start-50 translate-middle" (click)="postPrueba()"  type="submit">Inscribirse</button>
    </div>
</form>


<h1><h2 >{{nodeRES}}</h2></h1>