<h1 class="text-center">Crear Cuenta</h1>
<br>
<br>
<form class="row g-3" novalidate [formGroup]="registroForm" (ngSubmit)="postPrueba()">
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="nombre" class="col-sm-1 col-form-label">Nombre</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="nombre" formControlName="nombre" value="" placeholder="Juan">
            <small *ngIf=""></small>
        </div>
        <div class="col-md-2">
            <label for="apellido" class="col-sm-1 col-form-label">Apellido</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="apellido" formControlName="apellido" value=""
                placeholder="Martinez">
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="correo" class="form-label">Correo</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="email" class="form-control" id="correo" formControlName="email"
                    placeholder="usuario@server.com" aria-describedby="correo">
                <span class="input-group-text" id="correo" style="border: 1px solid black;">@</span>
            </div>
            <small *ngIf="!emailValido">Ingrese un correo correcto</small>
        </div>
        <div class="col-md-2">
            <label for="telefono" class="form-label">Teléfono</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="9587-7585">
        </div>

    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="password" class="col-sm-1 col-form-label">Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" id="password" formControlName="passw" value="">
            <small *ngIf="!contraValida" class="form-text text-muted">Mínimo 8 caracteres, una letra mayúscula, un
                número y un caracter especial (/#$%!) </small>

        </div>

        <div class="col-md-2">
            <label for="password2" class="col-form-label">Confirmar Contraseña</label>
        </div>
        <div class="col-md-4">
            <input type="password" class="form-control" id="password2" formControlName="passw2" value="">
            <small *ngIf="!passw2ConfirmIsValid; else contra" class="form-text text-muted">Repetir la contraseña</small>
            <ng-template #contra>
                <small *ngIf="this.registroForm?.errors?.['mismatch']">La contraseña no es igual</small>
            </ng-template>
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-2">
            <label for="ciudad" class="form-label">Departamento</label>
        </div>
        <div class="col-md-4">
            <select class="form-select" id="departamento" formControlName="departamento">
                <option selected disabled value="">Elegir...</option>
                <option *ngFor="let depto of allDepartamentos" [ngValue]="depto.Id">{{depto.nombre}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="departamento" class="form-label">Municipio</label>
        </div>
        <div class="col-md-4">

            <select class="form-select" id="ciudad" formControlName="municipio">
                <option selected disabled value="">Elegir...</option>

                <option *ngFor="let muni of filterMuni" [ngValue]="muni.Id">{{muni.nombre}}</option>

            </select>
        </div>
    </div>
    <div class="mb-4 row">

        <div class="col-md-2">
            <label for="direccion" class="form-label">Dirección</label>
        </div>

        <div class="col-md-4">
            <textarea class="form-control" id="direccion" formControlName="direccion" rows="2"
                placeholder="Dirección exacta"></textarea>
        </div>
    </div>

    <div class="col-12 mb-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="termino" formControlName="termino">
            <label class="form-check-label" data-bs-toggle="modal" data-bs-target="#modalTerminos"
                style="text-decoration: underline; cursor: pointer;">
                Acepto los términos y condiciones
            </label>
            <p class="error" *ngIf="this.registroForm.controls['termino'].errors?.['required']">
                Marque la casilla para aceptar los términos y condiciones.
            </p>
        </div>
    </div>
    <div class="col-12 position-relative mb-4">
        <button class="btn btn-dark position-absolute top-100 start-50 translate-middle" type="submit">Crear</button>
    </div>
</form>

<div class="modal" id="modalTerminos" tabindex="-1" aria-labelledby="modalTerminosLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTerminosLabel">Términos y Condiciones</h5>
                <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body">
                <h4>INFORMACIÓN RELEVANTE</h4>

                Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y
                acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros
                servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos
                y Condiciones de Uso en el presente documento. Todas los productos que son ofrecidos por nuestro sitio
                web pudieran ser creadas, cobradas, enviadas o presentadas por una página web tercera y en tal caso
                estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para adquirir un producto, será
                necesario el registro por parte del usuario, con ingreso de datos personales fidedignos y definición de
                una contraseña.

                El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier
                momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros
                productos. honduran_market.hn no asume la responsabilidad en caso de que entregue dicha clave a
                terceros.

                Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un
                proceso de confirmación y verificación, el cual podría incluir la verificación del stock y
                disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de
                existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos
                casos puede que se requiera una verificación por medio de correo electrónico.

                Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras
                realizadas en este sitio web.

                <h4>LICENCIA</h4>

                Honduran Marketplace a través de su sitio web concede una licencia para que los usuarios utilicen los
                productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en
                este documento.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="marcar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!--<h1><h2 >{{nodeRES}}</h2></h1>-->