<h1 class="text-center">Detalles del producto</h1>
<hr>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-9">
            <div id="imgsProduct" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let img of imagenesProducto; first as isFirst" [ngClass]="{'carousel-item' : true, 'active' : isFirst}">
                        <img src="{{img.Imagen}}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev car" type="button" data-bs-target="#imgsProduct"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next car" type="button" data-bs-target="#imgsProduct"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}} <i class="fa-regular fa-bookmark float-end"></i></h5>
                
                <p class="card-text">{{producto.precio | currency:'L ':"symbol"}}</p>
                <p class="card-text"><small class="text-muted">Publicado desde:  {{producto.actualizacion | date:'short'}}</small></p>
                <p class="card-text">{{producto.descripcion}}</p>
                <p class="card-text fw-bold">{{producto.Categoria}}</p>
            </div>
            
            <div class="card-body">
                <hr>
                <p class="card-text">Vendedor: <a [routerLink]="['/vendedor', producto.UsuarioId]">{{producto.Usuario}}</a></p>
                <hr>
            </div>
            <div class="card-body d-grid d-flex align-items-end flex-column bd-highlight mb-3">
                <p class="card-text">¿Interesado en el producto?</p>
                <button class="btn btn-primary mt-auto p-2 bd-highlight" type="button" [routerLink]="['/chat', producto.UsuarioId]"> <i class="fa-solid fa-message" ></i> Enviar un mensaje</button>
            </div>
            <div class="card-body d-grid d-flex align-items-end flex-column bd-highlight mb-3">
                <p class="card-text">Denunciar al Vendedor</p>
               <button class="btn btn-danger mt-auto p-2 bd-highlight " type="button" data-bs-toggle="modal" data-bs-target="#denuncias"> <i class="fa-solid fa-flag"></i>  Denunciar </button>
            </div>
            <div class="card-body d-grid d-flex align-items-end flex-column bd-highlight mb-3">
                <p class="card-text">Calificar al Vendedor</p>
                <form [formGroup]="calificacion"> 
                    <p class="clasificacion">
                      <input id="radio1" type="radio"  formControlName="estrella1">
                            <label for="radio1" (click)="calificarVendedor(5)"><i class="estre fa-solid fa-star"></i></label>
                      <input id="radio2" type="radio"  formControlName="estrella2">
                            <label for="radio2" (click)="calificarVendedor(4)"><i class="estre fa-solid fa-star"></i></label>
                      <input id="radio3" type="radio" formControlName="estrella3">
                            <label for="radio3" (click)="calificarVendedor(3)"><i class="estre fa-solid fa-star"></i></label>
                      <input id="radio4" type="radio" formControlName="estrella4">
                            <label for="radio4" (click)="calificarVendedor(2)"><i class="estre fa-solid fa-star"></i></label>
                      <input id="radio5" type="radio" formControlName="estrella5">
                            <label for="radio5" (click)="calificarVendedor(1)"><i class="estre fa-solid fa-star"></i></label>
                    </p>
                </form>
            </div>
           
        </div>
    </div>
</div>

<div class="modal" id="denuncias" tabindex="-1" aria-labelledby="modalTerminosLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTerminosLabel">Denuncias</h5>
            </div>
            <div class="modal-body">
               <form [formGroup]="denuncia">
                <label for="mensaje" class="col-sm-2 col-form-label">Motivo:</label><br>
                <textarea name="textarea" class="form-control" rows="3" cols="30" formControlName="motivo"></textarea>
               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="validar()">Enviar</button>
            </div>
        </div>
    </div>
</div>