.login {
    font-size: 40px;
    color: #4a3121;
}

.user{
    position: absolute;
    margin-left: 82%;
    
}

.nav{
    background-color:#ebe8e5;
    padding: 10px;
    font-size: 20px;
}

.nav-link{
    color: #9a6b5b;
}
.nav-link :active{
    color: #9a6b5b;
}
