<h1 class="text-center mb-3">Información Personal</h1>

<div class="row d-flex justify-content-center">

    <div class="col-8 my-4">
        <div class="card">
            <h5 class="card-header">Información Básica</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-4 col-label">Nombre</label>
                    <div class="col-8">
                        {{nombre}} {{apellido}}
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label class="col-4 col-label">Departamento</label>
                    <div class="col-8">
                        {{depto}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row d-flex justify-content-center">

    <div class="col-8 my-4">
        <div class="card">
            <h5 class="card-header">Información de Contacto</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-4 col-label">Correo Electrónico</label>
                    <div class="col-8">
                        {{correo}}
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label class="col-4 col-label">Celular</label>
                    <div class="col-8">
                        {{celular}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row d-flex justify-content-center">

    <div class="col-4 my-4">
        <div class="card ultimas">
            <h5 class="card-header">Suscripción de Categorías</h5>
            <div class="d-grid gap-2 col-6 mx-auto my-2">
                <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Agregar</button>
            </div>
            <div class="card-body d-inline-flex fw-bold align-items-center flex-wrap">
                <p class="cats p-2 mx-2">{{cat[0]}}</p>
                <p class="cats p-2 mx-2">{{cat[1]}}</p>
            </div>
        </div>
    </div>
    <div class="col-4 my-4 text-center">
        <div class="card ultimas">
            <h5 class="card-header">Calificación como Vendedor</h5>
            <div class="card-body">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
                <p class="fw-bold my-2"><small>13 Opiniones</small></p>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suscribirse a una Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Elegir...</option>
                    <option value="1">Zapatos</option>
                    <option value="2">Juguetes</option>
                    <option value="3">Herramientas</option>
                  </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>  
        </div>
    </div>
</div>