<h1 class="text-center mb-4">Inicio de Sesión</h1>
<h3 class="text-center mb-4">Inicie para continuar</h3>
<form class="col-4">
    <div class="form-group">
        <label for="nombre" class="col-sm-1 col-form-label">Correo</label>
        <input type="text" class="form-control" id="nombre" value="" required>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-1 col-form-label">Contraseña</label>
        <input type="password" class="form-control" id="password"  value="" required>
    </div>
    <a class="nav-link" href="#">Restaurar Contraseña</a>
    
    <a class="nav-link" [routerLink]="['registro']">¿No tiene una cuanta?</a>

    <button class="btn btn-dark" type="submit">Inscribirse</button>
</form>
