<h1 class="text-center">Productos Publicados</h1>

<p class="intro text-center mt-3">En esta página podás encontrar todos los productos que haz publicado y tendrás la opción de eliminarlos en caso de que así lo desees.</p>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="assets/imagen.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nombre del Producto</h5>
                  <p class="card-text">Descripción</p>
                  <p class="card-text">L. 1000.00</p>
                  <div class="arriba2">
                    <p class="card-text">Vendedor: Juan Perez</p>
                    <i class="fa-solid fa-trash-can"></i>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
