<h1 class="text-center mt-5">Historial de Denuncias</h1>

<div class="container mt-5">
    
    <table class="table mt-5 table-striped table-hover" border="1">
        <thead>
            <tr>
                <th>Nº</th>
                <th>Nombre Cliente</th>
                <th>Nombre Vendedor</th>
                <th>Detalle</th>
                <th>Fecha denuncia</th>
                <th>Fecha resolucion</th>
            </tr>
        </thead>

        <tbody>
            <tr >
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
