<h1 class="text-center mt-5">Historial de Denuncias</h1>

<div class="container mt-5">
    
    <table class="table mt-5 table-striped table-hover" >
        <thead>
            <tr>
                <th>Nº</th>
                <th>Nombre Cliente</th>
                <th>Nombre Vendedor</th>
                <th>Detalle</th>
                <th>Fecha denuncia</th>
                <th>Fecha resolucion</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let den of denuncias; index as i">
                <td scope="row">{{i + 1}}</td>
                <td [routerLink]="['/vendedor', den.clienteId]">{{den.NombreCliente}}</td>
                <td [routerLink]="['/vendedor', den.vendedorId]">{{ den.NombreVendedor }}</td>
                <td>{{ den.detalle }}</td>
                <td>{{ den.creacion | date: 'shortDate' }}</td>
                <td>{{ den.actualizacion | date: 'shortDate' }}</td>
            </tr>
        </tbody>
    </table>
</div>
