.recu_contra{
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
   
}

.btn-dark{
    width: 100px;
}
label{
    font-size: 1.2em;
}