<h1 class="text-center">Recuperar Contraseña</h1>
<br>
<br>
<form class="recu_contra" >
    <div class="form-group">
        <label for="contraseña" class="form-label">Ingrese Contraseña</label>
        <input formControlName="contraseña" type="password" class="form-control" id="contra" [formControl] = "contra" >
        <label for="contraseña2" class="form-label">Confirme Contraseña</label>
        <input formControlName="contraseña" type="password" class="form-control" id="contra2" [formControl] = "contra2" >
    </div>
    <div>
        <button class="btn btn-dark mt-5" (click)="validar()" type="button">Enviar</button>
    </div>
</form>
